/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color--black: #000000;
$color--white: #ffffff;

$color--dark:  #222222;
$color--light: #f9f9f9;

// Grey tones
$color--grey:        #999999;
$color--light-grey:  #e0e0e0;
$color--medium-grey: #666666;
$color--dark-grey:   #333333;

// Application colors
$color--green:       #5cb85c;
$color--red:         #d9534f;
$color--blue:        #5bc0de;
$color--yellow:      #f0ad4e;

// Notification colors
$color--success:   #5cb85c !default;
$color--info:      #5bc0de !default;
$color--warning:   #f0ad4e !default;
$color--danger:    #d9534f !default;