/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 */

$fs-xxs: (
    null: (10px,1.15),
    sm:   (10px,1.15),
    md:   (12px,1.15),
    lg:   (12px,1.15),
);

$fs-xs: (
    null: (11px,1.25),
    sm:   (11px,1.25),
    md:   (12px,1.25),
    lg:   (12px,1.25),
);

$fs-sm: (
    null: (12px,1.25),
    sm:   (12px,1.25),
    md:   (14px,1.25),
    lg:   (14px,1.25),
);

$fs-md: (
    null: (14px,1.25),
    sm:   (14px,1.25),
    md:   (16px,1.25),
    lg:   (16px,1.25),
);

$fs-lg: (
    null: (16px,1.25),
    sm:   (16px,1.25),
    md:   (20px,1.25),
    lg:   (20px,1.25),
);



