/**
 * -----------------------------------------------------------------------------
 * File: component/grid/global
 * -----------------------------------------------------------------------------
 *
 */

[class^='grid-'] {
    display: grid;
    @include responsive-prop('grid-gap', $space-md);
}

.grid-2x1fr {
    grid-template-columns: repeat(2, 1fr);
}

.grid-2fr-1fr {
    grid-template-columns: 2fr 1fr;
}

.grid-3fr-1fr {
    grid-template-columns: 3fr 1fr;
}

.grid-timer {
    grid-template-columns: auto 30px 140px 40px 140px;
    grid-gap: 0 !important;

    div {
        @extend %v-center;

        &.is-separator {
            @extend %h-center;
            @include font-bold();
            color: $color--light-grey;
            svg {
                display: block;
                height: auto;
                width: 24px;
            }
        }
    }
}


.grid-invoice-position {
    display: block;
    grid-gap: 0;

    > div {
        border-top: 2px solid $color--light-grey;
        display: grid;
        grid-template-columns: 1fr 3fr 100px 80px 1fr;
        grid-gap: 10px;

        div {
            padding: 8px 2px;
        }
    }

    .position-action {
        display: flex;
        justify-content: flex-end;
        @include responsive-prop('margin-bottom', $space-xs);

        a {
            margin-left: 5px;
        }
    }

    &.is-header {
        @include font-bold();
    }
}

.grid-invoice-total,
.grid-invoices-total {
    background-color: #f9f9f9;
    border-bottom: 4px solid $color--light-grey;
    border-top: 2px solid $color--light-grey;
    @include font-bold();
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 8px 0;
}

.grid-invoice-total {
    padding: 8px 2px;
}