/**
 * -----------------------------------------------------------------------------
 * File: components/badges/global
 * -----------------------------------------------------------------------------
 */

%badge,
.badge {
  background-color: transparent;
  border-radius: 2px;
  border: none;
  color: $color--white;
  display: inline-block !important;
  @include font-mono();
  @include font-size($fs-xxs);
  line-height: 1 !important;
  padding: 6px 8px 6px 8px;
  position: relative;
  width: auto;

  strong {
    @include font-mono();
    font-weight: 700;
  }
}

.badge-status {
  @extend %badge;
  margin-right: 5px;
  padding: 4px;

  &.is-open {
    background-color: $color--info;
  }

  &.is-pending {
    background-color: $color--warning;
  }

  &.is-paid {
    background-color: $color--success;
  }

  &.is-due {
    background-color: $color--danger;
  }
}