/**
 * -----------------------------------------------------------------------------
 * File: form/autocomplete
 * -----------------------------------------------------------------------------
 */

.autocomplete {
  padding: 4px 0 8px 0;

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    border-bottom: 2px solid $color--light-grey;

  }

  li {
    margin-left: 2px;
    display: block;
    border-bottom: 1px dashed $color--light-grey;
    &:last-child {
      border-bottom: none;
    }
  }
  
  a {
    display: block;
    padding: 10px 0 10px 0;
    text-decoration: none;
    transition: color .1s ease-out;

    &:hover {
      color: $color--blue;
    }

    span {
      @include font-bold();
    }
  }
}