/**
 * -----------------------------------------------------------------------------
 * File: layout/container
 * -----------------------------------------------------------------------------
 */

.container {
    opacity: 1;
    transition: opacity .12s ease-in-out;

    &.is-hidden {
       opacity: .5;
    }
}

.container-auth {
    @extend %v-center;
    @include background-default();
    background-image: url($url-images + 'splash.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}
