/**
 * -----------------------------------------------------------------------------
 * File: layout/sidebar
 * -----------------------------------------------------------------------------
 */

aside {
    border-radius: 4px;
    > div {
        background-color: $color--light;
    }

    &.sidebar {
        > div {
            padding: 15px;
        }
    }

    &.sidebar-form {
        > div {
            padding: 10px 15px;
            position: relative;
            top: -10px;
        }
    }
}