/**
 * -----------------------------------------------------------------------------
 * File: modules/timer
 * -----------------------------------------------------------------------------
 */


.time-items {
  @include responsive-prop('margin-bottom', $space-lg);
}

.time-item {
  background-color: transparent;
  margin-bottom: 0 !important;
  @include responsive-prop('padding-bottom', $space-xs);
  transition: background-color .1s ease-out;
  &:hover {
    background-color: $color--light;
  }
}

.time-browse {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 44px;
}

.time-summary {
  display: grid;
  grid-template-columns: auto 100px;

  .time-total {
    @include font-size($fs-md);
    @include font-bold();
    text-align: right;
  }
}

.time-entry {

  .time-entry__duration {

    @include font-size($fs-sm);
    display: block;
    margin-bottom: 2px;
  
    em {
      @include font-size($fs-xxs);
    }

    span {
      transition: color .1s ease-out;
    }

    &:hover {
      span {
        cursor: pointer;
        color: $color--blue;
      }
    }
  }

  .time-entry__description {
    color: $color--dark-grey;
  }

}

h2.time-day {
  @include font-bold();
  @include font-size($fs-sm);
}



